language: go
matrix:
  include:
    - go: 1.4
      install:
        - go get golang.org/x/tools/cmd/cover
        - go get golang.org/x/tools/cmd/vet
    - go: 1.5

script:
 - ./test

notifications:
  email: false

sudo: false
