[Unit]
Description=PONG

[Service]
ExecStart=/bin/bash -c "while true; do echo \"pong\"; sleep 1; done"

[X-Coreinit]
X-ConditionMachineOf=ping.service
